.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -10px;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgb(199, 199, 199);
  z-index: 100;
}

.navLink {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  cursor: pointer;
}

.navlogo {
  color: var(--primary-logo-color);
  font-size: 32px !important;
  font-family: 'Merienda', cursive !important;
}
.DrawerNav {
  color: var(--primary-color);
  font-family: 'Merienda', cursive !important;

}
.drawer__link {
  color: var(--primary-color) !important;
}
.DrawerdownloadBtn {
  margin-top: 24px !important;
  background-color: var(--primary-color) !important;
  color: white !important;
}
